services:
  nginx:
    image: nginx:alpine
    container_name: minna-nginx
    ports:
      - "8084:80"
    volumes:
      - ./:/var/www
      - ./docker/nginx/default.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - php

  php:
    build:
      context: ./docker/php
      dockerfile: Dockerfile
    container_name: minna-php
    volumes:
      - ./:/var/www
    environment:
      TZ: Asia/Bangkok
